/*
*
*	CSS Reset
*
*/

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

/*
*
*	General Rule
*
*/

/*font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
green - #142b14
yellow - #F1C232
*/


#mainPage {
	height:100vh;
	color:#142b14;	
}

#mainContainer {
	margin: 0 auto;
	width:50%;
}

.link {
	margin: 0 auto;
	position: relative;
	top:100%;
	color:#142b14;
	background-color:#F1C232;
	padding: 20px;
	text-align: center;
}

.link a {
	color:#142b14;
}


body {
	/*background-color: #142b14;*/
	background-color:#142b14;
	font-family: 'Lato', sans-serif;
}

input:focus {
    outline: none;
}

div.main-header {
	min-height:10vh;
	font-family: 'Open Sans', sans-serif;
}
div.main-header > div.container > div.row {
	background-color: #142b14;
	padding-top: 10px;
	padding-bottom: 5px;
}

.main-header {
	color:#ffc107;
	background-color: #142b14;
	/*background-image: linear-gradient(to bottom, #136906, #14590f, #144913, #153a14, #142b14);*/
}

.main-header img {
	width:100%;
	height:10vh;
	position:relative;
	top:20px;
}

.header-subscription > div {
	position:relative;
	top:70px;
}

.header-subscription > div > input {
	width:250px;
	background-color: #142b14;
	border:3px solid rgb(241,194,50,0);
	border-bottom: 3px solid rgb(241,194,50,1);
	color:rgb(241,194,50,1);
}
#subscribeButton {
	background-color: #142b14;
	border:3px solid rgb(241,194,50,0);
	padding: 2px;
}
#subscribeButton:hover {
	background-color: #F1C232;
	color: #142b14;
	border:2.5px solid #F1C232;
	border-radius: 2px;
	font-weight: 900;
}
/*.header-subscription > div > button:hover {
	background-color:#F1C232; 
	border:2px solid #F1C232;
	border-radius: 5px;
	color:#142b14;
} */

.header-subscription > div > input::placeholder,
.header-subscription > div > button {
	color:rgb(241,194,50,1);
}

.header-social-media {
	text-align: right;
}

.header-social-media li,
.header-social-media a {
	list-style: none;
	color:#f1c232;
/*	display: inline-block;*/
}
.header-social-media a:visited {
	color:#f1c232;
}
.header-social-media a:hover {
	text-decoration: none;
	font-weight: 800;
}



.navi {
	padding:0;
}
.navbar {
	background-color: #F1C232;
	padding: 0 5px;
}

div.main-nav {
	background-color: #f1c232;
/*	padding-top: 5px;
	padding-bottom: 5px;*/
}

div.main-nav a.dropdown-item:hover {
	background-color: #142b14 !important;
	color: #f1c232 !important;
}
div.main-nav a.dropdown-item:focus {
	background-color: #f1c232 !important;
	color: #142b14 !important;
	font-weight: 600;
}

.nav-item {
	margin-right: 20px;
}
/*#navbarSupportedContent,
#navbarSupportedContent > ul, 
#navbarSupportedContent > ul > li {
	height:100%;
}
#navbarSupportedContent > ul > li > a {
	height:70px;
}*/

/*.navbar-nav {
	margin: 5px 0;
}*/
.navbar-nav li {
	margin:3px 5px;
}
.dropdown-toggle::after {
    display:none !important;
}

/*.nav-item:hover,*/
.nav-item > a:hover {
	background-color: #142b14;
	color:#F1C232 !important;
	border-radius: 5px;
	/*line-height: 30px;*/
}

.nav-item > a {
	font-weight: 600;
	color: #142b14 !important; 
	font-size: 18px;
	letter-spacing: 3px;
	padding:0;
	transition: font-size 0.1s;
	vertical-align: middle;
}
/*.navbar-nav > li:first-child > a {
	font-size: 24px;
}*/

.dropdown-toggle::after {
	color:#F1C232;
}


input#searchBar {
	background-color: #F1C232; 
	border: 3px solid rgb(20,43,20,0);
	border-bottom: 3px solid rgb(20,43,20,1);
}
input#searchBar::placeholder {
	color:rgb(20,43,20);
}

#searchBar:focus {
	outline: none;
	color:rgb(20,43,20);
}

#searchIcon {
	color:#142b14;
	background-color: #F1C232; 
}
#searchIcon:hover {
	background-color: #142b14;
	color: #F1C232;
}

.main-story-borderbottom {
	padding-bottom: 10px;
}

.main-body > div.row {
	background-color: #f7f7f7;
}

div.main-stories {
	margin-top: 10px;
}

div.image-and-paragraph img {
	width:100%;
	height:350px;
}
div.image-and-paragraph h2 {
	margin: 5px 0;
	font-size: 26px;
}

div.image-and-paragraph p {
	margin: 0;
	padding: 0 0 0 5px;
	border-left: 5px solid #142b14;	
}

div.image-and-paragraph a {
	color:#142b14;
}
div.image-and-paragraph a:visited {
	color:#142b14;
}

.figure {
/*	height:90px;
	width:100%;*/
	margin-bottom: 3px;
	padding-right: 3px;
}

.figure-caption {
	float:left;
	position:relative;
	bottom:50px;
	right:1px;
	display: block;
	margin: 1px 0 1px 1px;
	padding:0 5px;
	background-color:#142b14;
	opacity: 0.95;
	width:100%;
	height:41px;
	color:#f1c232;
	line-height: 17px;
/*	transition: height 2s;
	transition: bottom 0.5s;*/
}

.figure-caption:hover {
	height:51px;
	bottom:60px;
	opacity: 0.85;
	font-weight: 700;
	text-decoration: none;
}

.clear {
	width:114%;
}

.clear:after {
	content:"";
	clear:both;
	display: block;
}


div.side-image-container > div.row {
	width:100%;
}
.side-image-container {
	padding: 0 0 0 5px;
}

.main-side-image {
	height:130px;
	width:100%;
}

.container {
	background-color: white;
}

.football-story {
	margin:5px;
}

.card {
	margin-top: 5px;
}

div.card-header {
	background-color: #142b14;
	color:#f1c232;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px; 
	letter-spacing: 2px;
	/*margin-top: 10px;*/
	padding-top: 5px;
}

.breaking-news li,
.other-news li {
	padding:2px 10px;
}

.news-link {
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-link > a {
	color:#142b14;
	text-decoration: none;
}
.news-link > a:hover {
	color:#142b14;
	text-decoration: underline;
}
.news-link > a:visisted {
	color:#142b14;
	text-decoration: none;
}

#sideBreakingNews,
#sideOtherNews {
	margin-right: 10px;
}

.card-header {
	padding:5px 10px;
}

.substory-row {
	margin-bottom: 15px;
}
.substory-img-container {
	padding: 0;
}
.news-substory-image {
	width:100%;
	height:100px;
}

#moreStories {
	margin-top: 25px;
	margin-bottom: 20px;
	background-color: #142b14;
	color:#F1C232;
}

.main-body div.card:last-child {
	margin-bottom: 15px;
}

div.card > p {
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

div.sub-footer {
	color:#142b14;
	background-color: #F1C232;
	padding-top: 30px;
}

div.sub-footer li {
	list-style: none;
	width: 100%;
	text-align: center;
}

div.sub-footer a:visited,
div.sub-footer a {
	color:#142b14;
}

.sub-nav {
	padding:5px 10px;
}

.figure {
	margin:0;
}

.clear {
	height:0;
}

.card {
	width:100%;
	/*margin-right: 20px;*/
}

.side-card-links {
	padding-top: 5px;
}


.main-footer {
	background-color: #F1C232;
	padding-bottom: 10px;
}

.sub-footer h3 {
	text-align: center;
	padding-bottom: 10px;
	color:#142b14;
}

.sub-footer li {
	margin-bottom: 5px;
}

#logoTitleFooter {
	width:100%;
	height:70px;
	position: relative;
	top:30px;
}

#logoTitleFooterText {
	padding-top: 30px;
}
#logoTitleFooterText > p {
	font-size: 24px;
	margin-left: 10px;
}

.copyright p {
	text-align: center;
	color:#F1C232;
	padding-top: 10px;
	margin-bottom: 10px;
}

#casualForFun img {
	width:100%;
	height:200px;
	padding-top: 10px;
}

#casualForFun div.card > div.row,
#competitiveTournaments div.card > div.row,
#footballClasses div.card > div.row {
	padding:0 10px;
}

#casualForFun h3 {
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: 600;
}
#casualForFun div.card > div.row p {
	margin-bottom: 3px;
	text-align: center;
}

#footballClasses div.card div.card {
	padding:10px 5px 5px 5px;
}

#footballClasses h4 {
	font-weight: 600;
}

#footballClasses img {
	width:100%;
	height:150px;
}

.agenda {
	padding:5px 10px;
}

/* Dates */
.agenda .agenda-date { 
 	width: 150px; 

 }

.dayofmonth {
  width: 150px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: left;
  /*margin-right: 10px; */
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em; 
}


/* Times */
.agenda .agenda-time {
	width: 200px;
} 


/* Events */
.agenda .agenda-events {  } 
.agenda .agenda-events .agenda-event {  } 



#publicViewing div.card > div.card-list{
	padding: 0 10px;
}

#publicViewing h5 {
	font-weight: 600;
}

#events .card{
	padding-bottom: 15px;
}
#events p {
	margin-right: 10px;
}

#events div.card div.row {
	padding: 0 10px;
}

#events h5 {
	font-weight: 600;
}

.event-image-column {
	padding:0 0 0 15px;
}
.events-image {
	width:100%;
}

/*.pv-img {
	height:170px;
}*/



.store-filter ul {
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 10px;
}
.store-filter p {
	margin-bottom: 5px;
	margin-left: 10px;
}

.store-filter li {
	list-style: none;
	display: inline-block;
	margin: 0 15px;
	font-weight: 500;
}

.store-image {
	width:60%;
	margin:10px 0px 10px 60px;
	height:130px;
}

#casualForFun h3 {
	font-size: 22px;
	margin-bottom: 0;
	padding-left: 10px;
}
#casualForFun p {
	padding-left: 10px;
}

#footballClasses div.card > div.row {
	padding-bottom: 10px;
}

.pagination,
.pagination a,
.pagination a:hover {
	color:#142b14;
}

.card-header + p {
	padding-left: 10px;
	padding-top: 5px;
}

.public-viewing-button,
#footballClassesReadMore {
	background-color: #142b14;
	color:#F1C232;
}
.public-viewing-button:hover {
	background-color: #F1C232;
	color:#142b14;
	border: 1px solid #F1C232;
	font-weight: 700;
}
.public-viewing-button:focus {
	outline: none;
}

.store-items-container {
	padding-bottom: 10px;
}

.store-items-container p,
.store-items-container h5,
.store-items-container h6 {
	margin-bottom: 0;
	line-height: 17px;
	text-align: center;
}
.store-items-container h5,
.store-items-container h6 {
	margin: 10px 0;
	font-weight: 600;
}

#filterIcon {
	color:#142b14;
	background-color: #F1C232; 
}
#filterIcon:hover {
	background-color: #142b14;
	color: #F1C232;
}

#filterBar {
	border: 0px solid black;
	border-bottom: 2px solid #142b14;
	margin-right: 5px;
	height:100%;
	margin-bottom: -12px;
}
